/* Slight reset to make the preview have ample padding. */

body {
    padding: 0;
    margin: 0;
}

.saction {
    width: 400px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.entry {
    text-align: center;
}

.entry label {
    font-size: 22px;
    font-weight: bold;
}

.entry input {
    margin-top: 10px;
    width: 75%;
    line-height: 40px;
    font-size: 20px;
    padding: 0 40px;
    border: 1px solid #ccc;
}

.result {
    margin-top: -10px;
}

table {
    width: 100%;
    font-size: 22px;
    border: none;
    border-collapse: collapse;
}

tr td:first-child {
    width: 10%;
}

tr td:first-child input {
    opacity: 20%;
}

tr td:last-child {
    text-align: right;
    opacity: 20%;
    font-size: 12px;
}

tr:hover td:first-child input {
    opacity: 100%;
}

tr:hover td:last-child {
    opacity: 100%;
}

.todo_name {
    font-size: 22px;
    padding: 0;
    border: none;
    background: transparent;
}

.todo_name:focus {
    outline: none;
}

.delete {
    border: none;
    cursor: pointer;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    width: 18%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 2px 5px;
    transition: 0.3s;
}

.tab .tablinks {
    cursor: pointer;
}

.tab #clear_button {
    display: none;
    text-align: right;
    padding-right: 0;
    width: 28% !important;
    cursor: pointer;
}

/* Change background color of buttons on hover */
.tablinks:hover {
    text-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
}

/* Create an active/current tablink class */
.tab button.active {
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
}
